---
import Layout from '../layouts/LayoutMaster.astro';
import Boton from '../components/Botones.astro';

import Conteo from '../components/CuentaRegresiva.astro';
import Icono from '../components/Iconos.astro';
---

<Layout title="Inicio | Media Maratón Ciudad de Motril">

  <main >
    <section 
      id="hero-index"
      class="
        
        text-primarioMMM-500 
        w-full
        min-h-screen
        p-8  md:pt-30
        flex flex-col
        gap-y-4 md:gap-y-2
        items-center justify-center 
      "
    >
      <h1 
        class=" 
        font-heading text-center
        text-6xl md:text-9xl
        font-black
        flex 
        justify-center 
        "
      >
        41º MEDIA MARATÓN CIUDAD DE MOTRIL
      </h1>
      <h2
        class="
        text-center
        text-4xl md:text-6xl 
        font-black text-negroMMM
        "
      >
        DOMINGO 19 DE OCTUBRE DE 2025
      </h2>

      <Boton 
        color="primary"
        version="positivo"
        href="/inscripciones"
        class="text-3xl md:text-2xl font-bold"
      >
        INSCRÍBETE
      </Boton>
      <p
        class="
        text-center
        text-xl md:text-2xl
        font-bold text-negroMMM">
        FALTAN:
      </p>
      <Conteo fecha="2025-10-19T10:30:00" />
    </section>

        <!-- SECCION CONDICIONES METEOROLÓGICAS -->

    <section 
      id="meteorologia-index"
      class="
      hidden
      bg-secundarioMMM-500
      text-blancoMMM
      p-8 md:p-12
      w-full
      flex items-center justify-center
      "
    >
     <div
        id="container-meteo-index"
        class="
        w-full md:w-3/5
        gap-y-4 
        flex flex-col
        justify-center items-center
        "
      >
      
        <h2 
          class="
          text-4xl md:font-5xl font-black
          text-center
          "
        >
          CONDICIONES METEOROLÓGICAS
        </h2>
        <div
          id="card-meteorología"
          class="
            flex flex-col md:flex-row
            justify-center items-center
          "
        >
          <div
            id="card-dia-preevento-index"
            class="              
              md:w-3/10
              p-3
              bg-blancoMMM text-secundarioMMM-700
              rounded-lg shadow-lg
              hidden md:flex flex-col items-center justify-center
              hover:scale-105 transition-transform duration-300 ease-in-out"
          >
            <img id="icono-18" class="w-12" />
            <hr class="w-1/2 mx-auto border-t-1 border-secundarioMMM-700 my-2" />
            <h3 class="text-3xl font-black text-center">18 DE OCTUBRE</h3>
            <section
              id="info-clima"
              class="text-sm font-black flex flex-col items-center justify-center"
            >
            <hr class="w-1/2 mx-auto border-t-1 border-secundarioMMM-700 my-2" />
              <p>CIELO: <span id="cielo-18" class="font-light text-xl"></span></p> 
              <p>TEMPERATURA: <span id="temperatura-18" class="font-light text-xl"></span></p>
              <p>VIENTO: <span id="viento-18" class="font-light text-xl"></span></p>
              <p>HUMEDAD: <span id="humedad-18" class="font-light text-xl"></span></p>
            </section>
          </div>
          <div
            id="card-dia-evento-index"
            class="
              z-1
              md:w-4/10
              p-3
              bg-blancoMMM text-secundarioMMM-700 
              rounded-lg shadow-xl shadow-secundarioMMM-500/40
              flex flex-col items-center justify-center
              hover:scale-105 transition-transform duration-300 ease-in-out"
          >
            <img id="icono-19" class="w-20 " />
            <hr class="w-1/2 mx-auto border-t-1 border-secundarioMMM-700 my-2" />
            <h3 class="text-4xl font-black text-center">19 DE OCTUBRE</h3>
            <section
              id="info-clima"
              class=" text-sm font-black flex flex-col items-center justify-center"
            >
            <hr class="w-1/2 mx-auto border-t-1 border-secundarioMMM-700 my-2" />
              <p>CIELO: <span id="cielo-19" class="font-light text-2xl"></span></p>
              <p>TEMPERATURA: <span id="temperatura-19" class="font-light text-2xl"></span></p>
              <p>VIENTO: <span id="viento-19" class="font-light text-2xl"></span></p>
              <p>HUMEDAD: <span id="humedad-19" class="font-light text-2xl"></span></p>
            </section>
          </div>
          <div
            id="card-dia-postevento-index"
            class="
              md:w-3/10
              p-3
              bg-blancoMMM text-secundarioMMM-700
              rounded-lg shadow-lg
              hidden md:flex flex-col items-center justify-center
              hover:scale-105 transition-transform duration-300 ease-in-out
              "
          >
            <img id="icono-20" class="w-12 " />
            <hr class="w-1/2 mx-auto border-t-1 border-secundarioMMM-700 my-2" />
            <h3 class="text-3xl font-black text-center">20 DE OCTUBRE</h3>
            <section
              id="info-clima"
              class="text-sm font-black flex flex-col items-center justify-center"
            >
              <hr class="w-1/2 mx-auto border-t-1 border-secundarioMMM-700 my-2" />
              <p>CIELO: <span id="cielo-20" class="font-medium text-xl"></span></p> 
              <p>TEMPERATURA: <span id="temperatura-20" class="font-medium text-xl"></span></p>
              <p>VIENTO: <span id="viento-20" class="font-medium text-xl"></span></p>
              <p>HUMEDAD: <span id="humedad-20" class="font-medium text-xl"></span></p>
            </section>
          </div>
        </div>
        <script>
          import { procesarClima } from '../utils/procesarClima.js';

          procesarClima().then(resultados => {
            console.log(resultados); 

            const iconoMeteo = {
              800: 'soleado',           
              801: 'soleado',           
              802: 'entrenublado',       
              803: 'nublado',
              804: 'nublado',
              500: 'lluvia suave',             
              501: 'lluvia',
              502: 'lluvia',
              200: 'tormentoso',          
              201: 'tormentoso',            
              701: 'niebla',             
              711: 'viento'

            };

            for (const infoDia of resultados) {
              const dia = infoDia.dia;

              const diasEsperados = [18,19,20];
              const diasDisponibles = resultados.map(r => r.dia);
              const estanTodos = diasEsperados.every(dia => diasDisponibles.includes(dia));

              if (estanTodos) {
                const meteoSection = document.getElementById("meteorologia-index");
                if (meteoSection) {
                  meteoSection.classList.remove("hidden");
                }
              }

              document.getElementById(`cielo-${dia}`).textContent = infoDia.cielo;
              document.getElementById(`temperatura-${dia}`).textContent = `${infoDia.temperatura} °C`;
              document.getElementById(`viento-${dia}`).textContent = `${infoDia.viento} km/h`;
              document.getElementById(`humedad-${dia}`).textContent = `${infoDia.humedad} %`;

              // Icono por ID
              const nombreIcono = iconoMeteo[infoDia.id] || 'soleado'; // Valor por defecto si no se encuentra
              document.getElementById(`icono-${dia}`).src = `/svg/iconos-meteo/${nombreIcono}.svg`;
            }
          }).catch(error => {
            console.error("Error en la visualización:", error);
          });
        </script>
      </div>
    </section>


    <!-- SECCION DE RECORRIDO -->


    <section
      id="recorrido-index"
      class="
        bg-primarioMMM-600
        text-blancoMMM
        md:w-full
        p-8 md:p-12
        flex justify-center items-center

      "
    >
      <div
        id="contenedor-recorrido-index"
        class="
          w-3/5
          gap-y-4 md:gap-x-8
          flex flex-col md:flex-row
          justify-center items-center
        "
      >
    
        <div
          id="info-recorrido-index"
          class="
            flex-1
            gap-y-4
            flex flex-col items-center md:items-start
            text-center md:text-left
          "
        >
          <h2
            class="
              text-5xl font-black
              text-center md:text-left
            "
          >
            RECORRIDO
          </h2>

          <p
            class="
              text-lg
              text-center md:text-left
            "
          >
            Con tramos por el centro urbano y la zona de playa, la Media Maratón Ciudad de Motril ofrece una experiencia única a sus corredores.
          </p>
          <Boton 
            color="primary"
            version="negativo"
            href="/recorrido"
            class="text-center md:text-left text-lg font-bold w-auto"
          >
            Conocer más
          </Boton>
        </div>

        <div
          id="imagenes-recorrido-index"
          class="
            flex-1
            flex flex-col items-center
            
          "
        >
          <figure
            id="recorrido-container-index"
            class="w-72 md:w-96"
          >
            <img
              id="recorrido-10k-index"
              class="transition-all duration-500 cursor-pointer hover:scale-105 rounded-lg"
              src="/images/index/recorrido/10k-cuadrado.webp"
              alt="Recorrido Media Maratón Ciudad de Motril de 10 kilómetros"
            />

            <img
              id="recorrido-21k-index"
              class="transition-all duration-500 cursor-pointer hover:scale-105 rounded-lg"
              src="/images/index/recorrido/21k-cuadrado.webp"
              alt="Recorrido Media Maratón Ciudad de Motril de 21 kilómetros "
            />
          </figure>
          <div 
            id="recorrido-buttons-index"
            class="
              flex flex-row
              justify-center items-center
              gap-4 mt-4
            "
          >

            <Boton
              id="mostrar-10k-index"
              color="primary"
              version="negativo"
              class="text-center md:text-left text-lg font-bold w-auto"
            >
              10k
            </Boton>
            
            <Boton
              id="mostrar-21k-index"
              color="primary"
              version="negativo"
              class="text-center md:text-left text-lg font-bold w-auto"
            >
              21k
            </Boton>
          </div>
        </div>
      </div>
    </section>

    <script>
      const recorrido10k = document.getElementById('recorrido-10k-index');
      const recorrido21k = document.getElementById('recorrido-21k-index');
      const mostrar10k = document.getElementById('mostrar-10k-index');
      const mostrar21k = document.getElementById('mostrar-21k-index');

      function mostrarSolo10k() {
        recorrido10k.classList.remove('hidden');
        recorrido21k.classList.add('hidden');
      }

      function mostrarSolo21k() {
        recorrido21k.classList.remove('hidden');
        recorrido10k.classList.add('hidden');
      }

      function ampliarRecorrido(images) {
        // Solo amplía la imagen sobre la que se hizo click
        images.currentTarget.classList.toggle('scale-130');
        images.currentTarget.classList.toggle('shadow-2xl');
        images.currentTarget.classList.toggle('z-10');
      }

      mostrar10k?.addEventListener('click', mostrarSolo10k);
      mostrar21k?.addEventListener('click', mostrarSolo21k);
      recorrido10k?.addEventListener('click', ampliarRecorrido);
      recorrido21k?.addEventListener('click', ampliarRecorrido);

      // Inicialmente mostrar solo el recorrido de 21k
      mostrarSolo21k();
    </script>


    <!-- SECCION DE VOLUNTARIOS -->

    <section
  id="voluntarios-index"
  class="
    bg-terciarioMMM-200
    text-primarioMMM-400
    md:w-full
    p-8 md:p-12
    flex justify-center items-center
  "
>
  <div
    id="contenedor-voluntarios-index"
    class="
      w-3/5
      gap-y-4 md:gap-x-8
      flex flex-col md:flex-row
      justify-center items-center
    "
  >
    <div
      id="info-voluntarios-index"
      class="
        md:order-2
        flex-1
        gap-y-4
        flex flex-col items-center md:items-start
        text-center md:text-left
      "
    >
      <h2
        class="
          text-5xl font-black
          text-center md:text-left
          text-primarioMMM-400
        "
      >
        VOLUNTARIOS
      </h2>

      <p
        class="
          text-lg
          text-center md:text-left
        "
      >
        Contamos con un grupo de profesionales excelentes pero <b class="font-black text-secundarioMMM-200">SIN TU AYUDA NO SERÍA POSIBLE.</b>
        Si quieres colaborar con nosotros, ¡no dudes en inscribirte!
      </p>

      <Boton
        color="tertiary"
        version="negativo"
        class="text-center md:text-left text-lg font-bold w-auto"
        href="/voluntarios"
      >
        QUIERO SER VOLUNTARIO
      </Boton>
    </div>

    <div
      id="imagenes-voluntarios-index"
      class="
        w-72 md:w-96
        flex-1
        md:order-1
        flex flex-col items-center
      "
    >
      <figure
        id="voluntarios-container-index"
        class=""
      >
        <img
          src="/images/index/voluntarios/voluntarios.webp"
          alt="Voluntarios de la Media Maratón Ciudad de Motril"
          class="transition-transform duration-500 hover:scale-105 rounded-lg "
        />
      </figure>
    </div>
  </div>
</section>

    <!-- SECCION DE PREGUNTAS -->

    <section 
      id="preguntas-index"
      class="
      bg-secundarioMMM-500
      text-blancoMMM 
      p-8
      flex flex-col items-center
      "
    >
      <div
        id="contenedor-preguntas-index"
        class="
          md:w-3/5
          flex flex-col items-center
          gap-y-4
        "
      >
        <h2 
          class="
          text-4xl font-bold text-center
          "
        >
          ¿TIENES ALGUNA DUDA?
        </h2>
        <p
        class="
        text-center"
        >
          Si no has encontrado lo que buscabas, visita nuestras redes o deja un mensaje aquí mismo. Responderemos lo antes posible.
        </p>

      <Boton
        color="secondary"
        version="negativo"
        href="/voluntarios"
        class="w-auto"
      >
        PREGÚNTANOS
      </Boton>

    </section>

    <!-- SECCION DE PATROCINADORES -->

    <section
      id="patros-index"
      class="
        bg-blancoMMM
        text-primarioMMM-500
        p-8 md:p-16
        flex flex-col
        
      "
    >
      <h2 class="text-4xl font-bold text-center mb-4">
        PATROCINADORES
      </h2>
      <div
        id="organizan-index"
        class="w-full mb-8"
      >
        <h3
          id="patros-principales-titulo"
          class="text-medium md:font-lg font-heading font-medium text-center mb-4 md:mb-6"
        >
          ORGANIZAN
        </h3>
        <div
          id="organizan-logos-index"
          class="
            w-full
            grid grid-cols-2 place-items-center gap-y-4
            md:flex md:flex-wrap
            md:gap-20
            justify-center
            items-center"  
        >
          <a href="https://motril.es/deportes/">
            <img
            src="/svg/patrocinadores/area_deportes_color.svg"
            alt="Área de Deportes, Ayuntamiento de Motril"
            class="w-35 md:w-50 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
          <a href="https://www.dipgra.es/servicios/areas/deportes/">
            <img
            src="/svg/patrocinadores/diputacionGranada_horizontal_color.svg"
              alt="Diputación de Granada"
              class="w-35 md:w-50 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
              />
            </a>

            
          </div>
        </div>
        <div id="patros-principales-index" class="w-full mb-8">
        <h3
          id="patros-principales-titulo"
          class="text-medium md:font-lg font-heading font-medium text-center mb-4 md:mb-6"
        >
          PATROCINADORES PRINCIPALES
        </h3>
        <div
          id="patros-principales-logos-index"
          class="
            w-full
            grid grid-cols-2 place-items-center gap-y-4
            md:flex md:flex-wrap
            md:gap-20
            justify-center
            items-center
          "
        >

          <a href="https://www.apmotril.com/">
            <img
              src="/svg/patrocinadores/autoridad_portuaria_color.svg"
              alt="Autoridad Portuaria de Motril"
              class="w-30 md:w-35 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
          <a href="https://granadalapalma.com/">
            <img
              src="/svg/patrocinadores/lapalma_color.svg"
              alt="Cooperativa La Palma"
              class="w-20 md:w-25 transition-allcursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
          <a href="https://www.fmiguelgarcia.es/">
            <img
              src="/svg/patrocinadores/miguel_garcia_color.svg"
              alt="Fundación Miguel García"
              class="w-22 md:w-24 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
          <a href="https://www.aguasyservicios.es/">
            <img
              src="/svg/patrocinadores/aguas_Y_servicios_color.svg"
              alt="Aguas y Servicios Costa Tropical"
              class="w-35 md:w-40 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
        </div>
      </div>
      <section id="patros-colaboradores-index" class="w-full">
        <h3
          id="patros-colaboradores-titulo"
          class="
            text-medium md:font-lg font-heading font-medium text-center
            mb-4 md:mb-6"
        >
          COLABORADORES
        </h3>
        <div
          id="patros-colaboradores-logos-index"
          class="
            w-full
            flex flex-wrap
            gap-x-10 gap-y-6 md:gap-8
            justify-center
            items-center
          "
        >

          <a href="https://www.toyota.es/concesionarios/yokamotril">
            <img
              src="/svg/patrocinadores/toyota_yokamotril_color.svg"
              alt="Toyota Yokamotril"
              class="w-20 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
          <a href="https://www.decathlon.es/es/store-view/tienda-de-deportes-motril-0070222302223">
            <img
              src="/svg/patrocinadores/decathlon_color.svg"
              alt="Decathlon Motril"
              class="w-22 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
          <a href="https://reymapinturas.com/">
            <img
              src="/svg/patrocinadores/reyma_color.svg"
              alt="Pinturas Reyma"
              class="w-24 transition-all ursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
          <a href="https://lanjaron.danone.es/">
            <img
              src="/svg/patrocinadores/lanjaron_color.svg"
              alt="Agua Lanjaron"
              class="w-22 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
          <a href="https://www.gmcash.es/">
            <img
              src="/svg/patrocinadores/gm_cash_color.svg"
              alt="GM Cash"
              class="w-24 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
          <a href="https://www.bodegasmar.com/">
            <img
              src="/svg/patrocinadores/bodegas_mar_color.svg"
              alt="Bodegas Mar"
              class="w-24 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
            <img
              src="/svg/patrocinadores/padello_color.svg"
              alt="Padello, pádel indoor"
              class="w-24 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
          <a href="https://dma-dra.es/">
            <img
              src="/svg/patrocinadores/dma_dra_color.svg"
              alt="DMA DRA, Carpintería y Diseño"
              class="w-26 transition-all cursor-pointer hover:scale-105 md:grayscale hover:grayscale-0"
            />
          </a>
        </div>
      </section>
    </section>
  </main>
</Layout>