---
const { 
  href = undefined, 
  type = "button", 
  class: additionalClass = '',
  id = ""
} = Astro.props;

const baseClass = "font-bold bg-blancoMMM text-secundarioMMM-600 px-4 py-2 rounded-lg ring hover:bg-secundarioMMM-600 hover:text-blancoMMM transition-colors";
---

{href ? (
  <a 
    href={href}
    id={id}       
    class={`${baseClass} ${additionalClass}`}
  >
    <slot />
  </a>
) : (
  <button 
    type={type}
    id={id} 
    class={`${baseClass} ${additionalClass}`}
  >
    <slot />
  </button>
)}
